<div data-v-28e57f6a="" data-v-4f526022="" class="FDB__C" voicetype="1" typeid="5">
    <div data-v-28e57f6a="" class="FDB__C-mark" style="display: none;">
        <div data-v-28e57f6a="">2</div>
        <div data-v-28e57f6a="">9</div>
    </div>
    <div data-v-baf77bdf="" class="FDB__C-nav">
        <div data-v-baf77bdf="" class="active" data-value="a">A</div>
        <div data-v-baf77bdf="" class="" data-value="b">B</div>
        <div data-v-baf77bdf="" class="" data-value="c">C</div>
        <div data-v-baf77bdf="" class="" data-value="d">D</div>
        <div data-v-baf77bdf="" class="" data-value="e">E</div>
        <div data-v-baf77bdf="" class="" data-value="total">SUM</div>
    </div>
    <div data-v-baf77bdf="" class="FDB__C-H">
        <div data-v-baf77bdf="" class="" data-txt="b"><span data-v-baf77bdf="">Big</span><span
                data-v-baf77bdf="">1.98</span>
        </div>
        <div data-v-baf77bdf="" class="" data-txt="s"><span data-v-baf77bdf="">Small</span><span
                data-v-baf77bdf="">1.98</span></div>
        <div data-v-baf77bdf="" class="" data-txt="l"><span data-v-baf77bdf="">Odd</span><span
                data-v-baf77bdf="">1.98</span>
        </div>
        <div data-v-baf77bdf="" class="" data-txt="c"><span data-v-baf77bdf="">Even</span><span
                data-v-baf77bdf="">1.98</span>
        </div>
    </div>
    <div data-v-baf77bdf="" class="FDB__C-Num">
        <div data-v-baf77bdf="" data-txt="0" class="">
            <div data-v-baf77bdf="" class="round">0</div>
            <div data-v-baf77bdf="" class="rate">9</div>
        </div>
        <div data-v-baf77bdf="" data-txt="1" class="">
            <div data-v-baf77bdf="" class="round">1</div>
            <div data-v-baf77bdf="" class="rate">9</div>
        </div>
        <div data-v-baf77bdf="" data-txt="2" class="">
            <div data-v-baf77bdf="" class="round">2</div>
            <div data-v-baf77bdf="" class="rate">9</div>
        </div>
        <div data-v-baf77bdf="" data-txt="3" class="">
            <div data-v-baf77bdf="" class="round">3</div>
            <div data-v-baf77bdf="" class="rate">9</div>
        </div>
        <div data-v-baf77bdf="" data-txt="4" class="">
            <div data-v-baf77bdf="" class="round">4</div>
            <div data-v-baf77bdf="" class="rate">9</div>
        </div>
        <div data-v-baf77bdf="" data-txt="5" class="">
            <div data-v-baf77bdf="" class="round">5</div>
            <div data-v-baf77bdf="" class="rate">9</div>
        </div>
        <div data-v-baf77bdf="" data-txt="6" class="">
            <div data-v-baf77bdf="" class="round">6</div>
            <div data-v-baf77bdf="" class="rate">9</div>
        </div>
        <div data-v-baf77bdf="" data-txt="7" class="">
            <div data-v-baf77bdf="" class="round">7</div>
            <div data-v-baf77bdf="" class="rate">9</div>
        </div>
        <div data-v-baf77bdf="" data-txt="8" class="">
            <div data-v-baf77bdf="" class="round">8</div>
            <div data-v-baf77bdf="" class="rate">9</div>
        </div>
        <div data-v-baf77bdf="" data-txt="9" class="">
            <div data-v-baf77bdf="" class="round">9</div>
            <div data-v-baf77bdf="" class="rate">9</div>
        </div>
    </div>


    <div class="van-overlay" data-v-7181abf7="" style="z-index: 2004; display:none;"><!----></div>
    <div id="betting_popup" role="dialog" tabindex="0" class="van-popup van-popup--round van-popup--bottom"
        data-v-7181abf7="" style="z-index: 2004; box-shadow: rgba(37, 37, 60, 0.26) 0px -18px 40px; display:none;">
        <div data-v-7181abf7="" class="Betting__Popup-body">
            <div data-v-baf77bdf="" class="FDB__C-nav">
                <div data-v-baf77bdf="" class="active" data-value="a">A</div>
                <div data-v-baf77bdf="" class="" data-value="b">B</div>
                <div data-v-baf77bdf="" class="" data-value="c">C</div>
                <div data-v-baf77bdf="" class="" data-value="d">D</div>
                <div data-v-baf77bdf="" class="" data-value="e">E</div>
                <div data-v-baf77bdf="" class="" data-value="total">SUM</div>
            </div>
            <div data-v-baf77bdf="" class="FDB__C-H">
                <div data-v-baf77bdf="" class="" data-txt="b"><span data-v-baf77bdf="">Big</span><span
                        data-v-baf77bdf="">1.98</span>
                </div>
                <div data-v-baf77bdf="" class="" data-txt="s"><span data-v-baf77bdf="">Small</span><span
                        data-v-baf77bdf="">1.98</span></div>
                <div data-v-baf77bdf="" class="" data-txt="l"><span data-v-baf77bdf="">Odd</span><span
                        data-v-baf77bdf="">1.98</span>
                </div>
                <div data-v-baf77bdf="" class="" data-txt="c"><span data-v-baf77bdf="">Even</span><span
                        data-v-baf77bdf="">1.98</span></div>
            </div>
            <div data-v-baf77bdf="" class="FDB__C-Num">
                <div data-v-baf77bdf="" data-txt="0" class="">
                    <div data-v-baf77bdf="" class="round">0</div>
                    <div data-v-baf77bdf="" class="rate">9</div>
                </div>
                <div data-v-baf77bdf="" data-txt="1" class="">
                    <div data-v-baf77bdf="" class="round">1</div>
                    <div data-v-baf77bdf="" class="rate">9</div>
                </div>
                <div data-v-baf77bdf="" data-txt="2" class="">
                    <div data-v-baf77bdf="" class="round">2</div>
                    <div data-v-baf77bdf="" class="rate">9</div>
                </div>
                <div data-v-baf77bdf="" data-txt="3" class="">
                    <div data-v-baf77bdf="" class="round">3</div>
                    <div data-v-baf77bdf="" class="rate">9</div>
                </div>
                <div data-v-baf77bdf="" data-txt="4" class="">
                    <div data-v-baf77bdf="" class="round">4</div>
                    <div data-v-baf77bdf="" class="rate">9</div>
                </div>
                <div data-v-baf77bdf="" data-txt="5" class="">
                    <div data-v-baf77bdf="" class="round">5</div>
                    <div data-v-baf77bdf="" class="rate">9</div>
                </div>
                <div data-v-baf77bdf="" data-txt="6" class="">
                    <div data-v-baf77bdf="" class="round">6</div>
                    <div data-v-baf77bdf="" class="rate">9</div>
                </div>
                <div data-v-baf77bdf="" data-txt="7" class="">
                    <div data-v-baf77bdf="" class="round">7</div>
                    <div data-v-baf77bdf="" class="rate">9</div>
                </div>
                <div data-v-baf77bdf="" data-txt="8" class="">
                    <div data-v-baf77bdf="" class="round">8</div>
                    <div data-v-baf77bdf="" class="rate">9</div>
                </div>
                <div data-v-baf77bdf="" data-txt="9" class="active">
                    <div data-v-baf77bdf="" class="round">9</div>
                    <div data-v-baf77bdf="" class="rate">9</div>
                </div>
            </div>
            <div data-v-7181abf7="" class="Betting__Popup-body-line">Balance <div data-v-7181abf7=""
                    class="Betting__Popup-body-line-list">
                    <div data-v-7181abf7="" data-money="1" class="Betting__Popup-body-line-item money bgcolor">1</div>
                    <div data-v-7181abf7="" data-money="10" class="Betting__Popup-body-line-item money">10</div>
                    <div data-v-7181abf7="" data-money="100" class="Betting__Popup-body-line-item money">100</div>
                    <div data-v-7181abf7="" data-money="1000" class="Betting__Popup-body-line-item money">1000</div>
                </div>
            </div>
            <div data-v-7181abf7="" class="Betting__Popup-body-line">Quantity <div data-v-7181abf7=""
                    class="Betting__Popup-body-line-btnL">
                    <div data-v-7181abf7="" class="Betting__Popup-btn minus bgcolor">-</div>
                    <div data-v-7181abf7="" class="van-cell van-field Betting__Popup-input"
                        modelmodifiers="[object Object]"><!----><!---->
                        <div class="van-cell__value van-field__value">
                            <div class="van-field__body"><input type="tel" inputmode="numeric" id="van-field-1-input"
                                    class="van-field__control"><!----><!----><!----></div><!----><!---->
                        </div><!----><!---->
                    </div>
                    <div data-v-7181abf7="" class="Betting__Popup-btn plus bgcolor">+</div>
                </div>
            </div>
            <div data-v-7181abf7="" class="Betting__Popup-body-line">
                <div data-v-7181abf7=""></div>
                <div data-v-7181abf7="" class="Betting__Popup-body-line-list">
                    <div data-v-7181abf7="" data-x="1" class="Betting__Popup-body-line-item setBorder quantity bgcolor">
                        X1</div>
                    <div data-v-7181abf7="" data-x="5" class="Betting__Popup-body-line-item setBorder quantity"> X5
                    </div>
                    <div data-v-7181abf7="" data-x="10" class="Betting__Popup-body-line-item setBorder quantity"> X10
                    </div>
                    <div data-v-7181abf7="" data-x="20" class="Betting__Popup-body-line-item setBorder quantity"> X20
                    </div>
                    <div data-v-7181abf7="" data-x="50" class="Betting__Popup-body-line-item setBorder quantity"> X50
                    </div>
                    <div data-v-7181abf7="" data-x="100" class="Betting__Popup-body-line-item setBorder quantity"> X100
                    </div>
                </div>
            </div>
            <div data-v-7181abf7="" class="Betting__Popup-body-line"><span data-v-7181abf7=""
                    class="Betting__Popup-agree active">I agree</span><span data-v-7181abf7=""
                    class="Betting__Popup-preSaleShow">《Pre-sale rules》</span></div>
        </div>
        <div data-v-7181abf7="" class="Betting__Popup-foot">
            <div data-v-7181abf7="" class="Betting__Popup-foot-c">Cancel</div>
            <div data-v-7181abf7="" class="Betting__Popup-foot-s bgcolor">Total amount₹1.00</div>
        </div><!---->
    </div>
</div>


