<div data-v-72f81e71="" data-v-4f526022="" class="RecordNav__C">
    <div data-v-72f81e71="" class="active" id="game_history_tab_button">Game history</div>
    <div data-v-72f81e71="" class="" id="trend_tab_button">Chart</div>
    <div data-v-72f81e71="" class="" id="my_bets_tab_button">My history</div>
</div>

<div data-v-9215aba8="" data-v-4f526022="" class="GameRecord__C" emerdapi="e=>f(m.WinGoGetEmerdList,e).then(t=>t.data)"
    gopathname="AllLotteryGames-BettingRecord5D">
    <div data-v-9215aba8="" class="GameRecord__C-head">
        <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">Period</div>
            <div data-v-9215aba8="" class="van-col van-col--12">Result</div>
            <div data-v-9215aba8="" class="van-col van-col--4">Total</div>
        </div>
    </div>
    <div data-v-9215aba8="" class="GameRecord__C-body">
        <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">20240828051045</div>
            <div data-v-9215aba8="" class="van-col van-col--12">
                <div data-v-9215aba8="" class="numList">
                    <div data-v-9215aba8="" class="numItem">4</div>
                    <div data-v-9215aba8="" class="numItem">1</div>
                    <div data-v-9215aba8="" class="numItem">5</div>
                    <div data-v-9215aba8="" class="numItem">4</div>
                    <div data-v-9215aba8="" class="numItem">8</div>
                </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4"><span data-v-9215aba8="" class="redNumItem">22</span>
            </div>
        </div>
        <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">20240828051044</div>
            <div data-v-9215aba8="" class="van-col van-col--12">
                <div data-v-9215aba8="" class="numList">
                    <div data-v-9215aba8="" class="numItem">2</div>
                    <div data-v-9215aba8="" class="numItem">8</div>
                    <div data-v-9215aba8="" class="numItem">8</div>
                    <div data-v-9215aba8="" class="numItem">9</div>
                    <div data-v-9215aba8="" class="numItem">8</div>
                </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4"><span data-v-9215aba8="" class="redNumItem">35</span>
            </div>
        </div>
        <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">20240828051043</div>
            <div data-v-9215aba8="" class="van-col van-col--12">
                <div data-v-9215aba8="" class="numList">
                    <div data-v-9215aba8="" class="numItem">6</div>
                    <div data-v-9215aba8="" class="numItem">8</div>
                    <div data-v-9215aba8="" class="numItem">5</div>
                    <div data-v-9215aba8="" class="numItem">2</div>
                    <div data-v-9215aba8="" class="numItem">0</div>
                </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4"><span data-v-9215aba8="" class="redNumItem">21</span>
            </div>
        </div>
        <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">20240828051042</div>
            <div data-v-9215aba8="" class="van-col van-col--12">
                <div data-v-9215aba8="" class="numList">
                    <div data-v-9215aba8="" class="numItem">0</div>
                    <div data-v-9215aba8="" class="numItem">7</div>
                    <div data-v-9215aba8="" class="numItem">4</div>
                    <div data-v-9215aba8="" class="numItem">4</div>
                    <div data-v-9215aba8="" class="numItem">5</div>
                </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4"><span data-v-9215aba8="" class="redNumItem">20</span>
            </div>
        </div>
        <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">20240828051041</div>
            <div data-v-9215aba8="" class="van-col van-col--12">
                <div data-v-9215aba8="" class="numList">
                    <div data-v-9215aba8="" class="numItem">7</div>
                    <div data-v-9215aba8="" class="numItem">5</div>
                    <div data-v-9215aba8="" class="numItem">6</div>
                    <div data-v-9215aba8="" class="numItem">6</div>
                    <div data-v-9215aba8="" class="numItem">6</div>
                </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4"><span data-v-9215aba8="" class="redNumItem">30</span>
            </div>
        </div>
        <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">20240828051040</div>
            <div data-v-9215aba8="" class="van-col van-col--12">
                <div data-v-9215aba8="" class="numList">
                    <div data-v-9215aba8="" class="numItem">5</div>
                    <div data-v-9215aba8="" class="numItem">8</div>
                    <div data-v-9215aba8="" class="numItem">3</div>
                    <div data-v-9215aba8="" class="numItem">4</div>
                    <div data-v-9215aba8="" class="numItem">1</div>
                </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4"><span data-v-9215aba8="" class="redNumItem">21</span>
            </div>
        </div>
        <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">20240828051039</div>
            <div data-v-9215aba8="" class="van-col van-col--12">
                <div data-v-9215aba8="" class="numList">
                    <div data-v-9215aba8="" class="numItem">7</div>
                    <div data-v-9215aba8="" class="numItem">8</div>
                    <div data-v-9215aba8="" class="numItem">9</div>
                    <div data-v-9215aba8="" class="numItem">1</div>
                    <div data-v-9215aba8="" class="numItem">2</div>
                </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4"><span data-v-9215aba8="" class="redNumItem">27</span>
            </div>
        </div>
        <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">20240828051038</div>
            <div data-v-9215aba8="" class="van-col van-col--12">
                <div data-v-9215aba8="" class="numList">
                    <div data-v-9215aba8="" class="numItem">9</div>
                    <div data-v-9215aba8="" class="numItem">3</div>
                    <div data-v-9215aba8="" class="numItem">9</div>
                    <div data-v-9215aba8="" class="numItem">8</div>
                    <div data-v-9215aba8="" class="numItem">5</div>
                </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4"><span data-v-9215aba8="" class="redNumItem">34</span>
            </div>
        </div>
        <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">20240828051037</div>
            <div data-v-9215aba8="" class="van-col van-col--12">
                <div data-v-9215aba8="" class="numList">
                    <div data-v-9215aba8="" class="numItem">7</div>
                    <div data-v-9215aba8="" class="numItem">4</div>
                    <div data-v-9215aba8="" class="numItem">6</div>
                    <div data-v-9215aba8="" class="numItem">8</div>
                    <div data-v-9215aba8="" class="numItem">8</div>
                </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4"><span data-v-9215aba8="" class="redNumItem">33</span>
            </div>
        </div>
        <div data-v-9215aba8="" class="van-row">
            <div data-v-9215aba8="" class="van-col van-col--8">20240828051036</div>
            <div data-v-9215aba8="" class="van-col van-col--12">
                <div data-v-9215aba8="" class="numList">
                    <div data-v-9215aba8="" class="numItem">5</div>
                    <div data-v-9215aba8="" class="numItem">2</div>
                    <div data-v-9215aba8="" class="numItem">6</div>
                    <div data-v-9215aba8="" class="numItem">2</div>
                    <div data-v-9215aba8="" class="numItem">7</div>
                </div>
            </div>
            <div data-v-9215aba8="" class="van-col van-col--4"><span data-v-9215aba8="" class="redNumItem">22</span>
            </div>
        </div>
    </div>
    <div data-v-9215aba8="" class="GameRecord__C-foot">
        <div data-v-9215aba8="" class="GameRecord__C-foot-previous disabled"><i data-v-9215aba8=""
                class="van-badge__wrapper van-icon van-icon-arrow-left GameRecord__C-icon"
                style="font-size: 20px;"><!----><!----><!----></i></div>
        <div data-v-9215aba8="" class="GameRecord__C-foot-page">1/1689</div>
        <div data-v-9215aba8="" class="GameRecord__C-foot-next"><i data-v-9215aba8=""
                class="van-badge__wrapper van-icon van-icon-arrow GameRecord__C-icon"
                style="font-size: 20px;"><!----><!----><!----></i></div>
    </div>
</div>

<div data-v-9d93d892="" data-v-4f526022="" class="Trend__C" data-selected-tab="A" style="display: none;">
    <div data-v-9d93d892="" class="Trend__C-body1">
        <div data-v-9d93d892="" class="Trend__C-nav">
            <div data-v-9d93d892="" class="active">A</div>
            <div data-v-9d93d892="" class="">B</div>
            <div data-v-9d93d892="" class="">C</div>
            <div data-v-9d93d892="" class="">D</div>
            <div data-v-9d93d892="" class="">E</div>
        </div>
        <div data-v-9d93d892="" class="Trend__C-body1-line">Statistic (last 100 Periods)</div>
        <div data-v-9d93d892="" class="Trend__C-body1-line">
            <div data-v-9d93d892="">Missing</div>
            <div data-v-9d93d892="" class="Trend__C-body1-line-num">
                <div data-v-9d93d892="">1</div>
                <div data-v-9d93d892="">6</div>
                <div data-v-9d93d892="">2</div>
                <div data-v-9d93d892="">16</div>
                <div data-v-9d93d892="">4</div>
                <div data-v-9d93d892="">0</div>
                <div data-v-9d93d892="">5</div>
                <div data-v-9d93d892="">3</div>
                <div data-v-9d93d892="">11</div>
                <div data-v-9d93d892="">8</div>
            </div>
        </div>
        <div data-v-9d93d892="" class="Trend__C-body1-line">
            <div data-v-9d93d892="">Avg missing</div>
            <div data-v-9d93d892="" class="Trend__C-body1-line-num">
                <div data-v-9d93d892="">10</div>
                <div data-v-9d93d892="">9</div>
                <div data-v-9d93d892="">9</div>
                <div data-v-9d93d892="">11</div>
                <div data-v-9d93d892="">7</div>
                <div data-v-9d93d892="">7</div>
                <div data-v-9d93d892="">19</div>
                <div data-v-9d93d892="">4</div>
                <div data-v-9d93d892="">13</div>
                <div data-v-9d93d892="">9</div>
            </div>
        </div>
        <div data-v-9d93d892="" class="Trend__C-body1-line">
            <div data-v-9d93d892="">Frequency</div>
            <div data-v-9d93d892="" class="Trend__C-body1-line-num">
                <div data-v-9d93d892="">8</div>
                <div data-v-9d93d892="">10</div>
                <div data-v-9d93d892="">10</div>
                <div data-v-9d93d892="">7</div>
                <div data-v-9d93d892="">11</div>
                <div data-v-9d93d892="">13</div>
                <div data-v-9d93d892="">4</div>
                <div data-v-9d93d892="">20</div>
                <div data-v-9d93d892="">7</div>
                <div data-v-9d93d892="">10</div>
            </div>
        </div>
        <div data-v-9d93d892="" class="Trend__C-body1-line">
            <div data-v-9d93d892="">Max consecutive</div>
            <div data-v-9d93d892="" class="Trend__C-body1-line-num">
                <div data-v-9d93d892="">1</div>
                <div data-v-9d93d892="">2</div>
                <div data-v-9d93d892="">2</div>
                <div data-v-9d93d892="">1</div>
                <div data-v-9d93d892="">1</div>
                <div data-v-9d93d892="">2</div>
                <div data-v-9d93d892="">1</div>
                <div data-v-9d93d892="">3</div>
                <div data-v-9d93d892="">2</div>
                <div data-v-9d93d892="">1</div>
            </div>
        </div>
    </div>
    <div data-v-9d93d892="" class="Trend__C-head">
        <div data-v-9d93d892="" class="van-row">
            <div data-v-9d93d892="" class="van-col van-col--8">Period</div>
            <div data-v-9d93d892="" class="van-col van-col--16">Number</div>
        </div>
    </div>
    <div data-v-9d93d892="" class="Trend__C-body2">
        <div data-v-9d93d892="" issuenumber="20240828051038" number="9" rowid="0">
            <div data-v-9d93d892="" class="van-row">
                <div data-v-9d93d892="" class="van-col van-col--8">
                    <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">20240828051038</div>
                </div>
                <div data-v-9d93d892="" class="van-col van-col--16">
                    <div data-v-9d93d892="" class="Trend__C-body2-Num"><canvas data-v-9d93d892="" canvas=""
                            id="myCanvas0" class="line-canvas"></canvas>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">0</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">1</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">2</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">3</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">4</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">5</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">6</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">7</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">8</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">9</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-BS isB">H</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-OE isE">O</div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-9d93d892="" issuenumber="20240828051037" number="7" rowid="1">
            <div data-v-9d93d892="" class="van-row">
                <div data-v-9d93d892="" class="van-col van-col--8">
                    <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">20240828051037</div>
                </div>
                <div data-v-9d93d892="" class="van-col van-col--16">
                    <div data-v-9d93d892="" class="Trend__C-body2-Num"><canvas data-v-9d93d892="" canvas=""
                            id="myCanvas1" class="line-canvas"></canvas>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">0</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">1</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">2</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">3</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">4</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">5</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">6</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">7</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">8</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">9</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-BS isB">H</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-OE isE">O</div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-9d93d892="" issuenumber="20240828051036" number="5" rowid="2">
            <div data-v-9d93d892="" class="van-row">
                <div data-v-9d93d892="" class="van-col van-col--8">
                    <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">20240828051036</div>
                </div>
                <div data-v-9d93d892="" class="van-col van-col--16">
                    <div data-v-9d93d892="" class="Trend__C-body2-Num"><canvas data-v-9d93d892="" canvas=""
                            id="myCanvas2" class="line-canvas"></canvas>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">0</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">1</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">2</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">3</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">4</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">5</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">6</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">7</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">8</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">9</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-BS isB">H</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-OE isE">O</div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-9d93d892="" issuenumber="20240828051035" number="4" rowid="3">
            <div data-v-9d93d892="" class="van-row">
                <div data-v-9d93d892="" class="van-col van-col--8">
                    <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">20240828051035</div>
                </div>
                <div data-v-9d93d892="" class="van-col van-col--16">
                    <div data-v-9d93d892="" class="Trend__C-body2-Num"><canvas data-v-9d93d892="" canvas=""
                            id="myCanvas3" class="line-canvas"></canvas>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">0</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">1</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">2</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">3</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">4</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">5</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">6</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">7</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">8</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">9</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-BS">L</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-OE">E</div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-9d93d892="" issuenumber="20240828051034" number="3" rowid="4">
            <div data-v-9d93d892="" class="van-row">
                <div data-v-9d93d892="" class="van-col van-col--8">
                    <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">20240828051034</div>
                </div>
                <div data-v-9d93d892="" class="van-col van-col--16">
                    <div data-v-9d93d892="" class="Trend__C-body2-Num"><canvas data-v-9d93d892="" canvas=""
                            id="myCanvas4" class="line-canvas"></canvas>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">0</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">1</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">2</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">3</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">4</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">5</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">6</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">7</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">8</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">9</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-BS">L</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-OE isE">O</div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-9d93d892="" issuenumber="20240828051033" number="6" rowid="5">
            <div data-v-9d93d892="" class="van-row">
                <div data-v-9d93d892="" class="van-col van-col--8">
                    <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">20240828051033</div>
                </div>
                <div data-v-9d93d892="" class="van-col van-col--16">
                    <div data-v-9d93d892="" class="Trend__C-body2-Num"><canvas data-v-9d93d892="" canvas=""
                            id="myCanvas5" class="line-canvas"></canvas>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">0</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">1</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">2</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">3</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">4</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">5</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">6</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">7</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">8</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">9</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-BS isB">H</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-OE">E</div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-9d93d892="" issuenumber="20240828051032" number="3" rowid="6">
            <div data-v-9d93d892="" class="van-row">
                <div data-v-9d93d892="" class="van-col van-col--8">
                    <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">20240828051032</div>
                </div>
                <div data-v-9d93d892="" class="van-col van-col--16">
                    <div data-v-9d93d892="" class="Trend__C-body2-Num"><canvas data-v-9d93d892="" canvas=""
                            id="myCanvas6" class="line-canvas"></canvas>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">0</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">1</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">2</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">3</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">4</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">5</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">6</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">7</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">8</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">9</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-BS">L</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-OE isE">O</div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-9d93d892="" issuenumber="20240828051031" number="3" rowid="7">
            <div data-v-9d93d892="" class="van-row">
                <div data-v-9d93d892="" class="van-col van-col--8">
                    <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">20240828051031</div>
                </div>
                <div data-v-9d93d892="" class="van-col van-col--16">
                    <div data-v-9d93d892="" class="Trend__C-body2-Num"><canvas data-v-9d93d892="" canvas=""
                            id="myCanvas7" class="line-canvas"></canvas>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">0</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">1</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">2</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">3</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">4</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">5</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">6</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">7</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">8</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">9</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-BS">L</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-OE isE">O</div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-9d93d892="" issuenumber="20240828051030" number="9" rowid="8">
            <div data-v-9d93d892="" class="van-row">
                <div data-v-9d93d892="" class="van-col van-col--8">
                    <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">20240828051030</div>
                </div>
                <div data-v-9d93d892="" class="van-col van-col--16">
                    <div data-v-9d93d892="" class="Trend__C-body2-Num"><canvas data-v-9d93d892="" canvas=""
                            id="myCanvas8" class="line-canvas"></canvas>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">0</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">1</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">2</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">3</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">4</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">5</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">6</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">7</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">8</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">9</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-BS isB">H</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-OE isE">O</div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-9d93d892="" issuenumber="20240828051029" number="3" rowid="9">
            <div data-v-9d93d892="" class="van-row">
                <div data-v-9d93d892="" class="van-col van-col--8">
                    <div data-v-9d93d892="" class="Trend__C-body2-IssueNumber">20240828051029</div>
                </div>
                <div data-v-9d93d892="" class="van-col van-col--16">
                    <div data-v-9d93d892="" class="Trend__C-body2-Num"><canvas data-v-9d93d892="" canvas=""
                            id="myCanvas9" class="line-canvas"></canvas>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">0</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">1</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">2</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item action">3</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">4</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">5</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">6</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">7</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">8</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-item">9</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-BS">L</div>
                        <div data-v-9d93d892="" class="Trend__C-body2-Num-OE isE">O</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-v-9d93d892="" class="Trend__C-foot">
        <div data-v-9d93d892="" class="Trend__C-foot-previous disabled"><i data-v-9d93d892=""
                class="van-badge__wrapper van-icon van-icon-arrow-left Trend__C-icon"
                style="font-size: 20px;"><!----><!----><!----></i></div>
        <div data-v-9d93d892="" class="Trend__C-foot-page">1/1688</div>
        <div data-v-9d93d892="" class="Trend__C-foot-next"><i data-v-9d93d892=""
                class="van-badge__wrapper van-icon van-icon-arrow Trend__C-icon"
                style="font-size: 20px;"><!----><!----><!----></i></div>
    </div>
</div>

<div data-v-36ddca8e="" data-v-4f526022="" class="MyGameRecord__C" style="display: none;">
    <div data-v-36ddca8e="" class="MyGameRecord__C-head">
        <div data-v-36ddca8e="" class="MyGameRecord__C-head-moreB">Detail <svg data-v-36ddca8e=""
                class="svg-icon icon-rightCircle">
                <use xlink:href="#icon-rightCircle"></use>
            </svg></div>
    </div>
    <div data-v-36ddca8e="" class="MyGameRecord__C-body">
        <div data-v-36ddca8e="" class="MyGameRecord__C-body-empty">
            <div data-v-f84b843f="" data-v-36ddca8e="" class="empty__container"><svg data-v-f84b843f=""
                    class="svg-icon icon-empty">
                    <use xlink:href="#icon-empty"></use>
                </svg>
                <p data-v-f84b843f="">No data</p>
            </div>
        </div>
    </div>
</div>