<div data-v-4f526022="" class="noticeBar__container">
    <svg class="svg-icon icon-noticeBarSpeaker">
        <use xlink:href="#icon-noticeBarSpeaker"></use>
    </svg>
    <div class="noticeBar__container-body">
        <div class="noticeBar__container-body-text">Please be sure to always use our
            official website for
            playing
            the games with the following link, https://tirangacasino.win. Please always
            check our official link
            to
            access our website and avoid scammers and phishing links</div>
    </div><button class="hotIcon">Detail</button>
</div>