<div data-v-e05c7c66="" data-v-4f526022="" class="WinningTip__C" style="display: none;" id="popup_modal">
    <div data-v-e05c7c66="" class="WinningTip__C-body" id="popup_background">
        <div data-v-e05c7c66="" class="WinningTip__C-body-l1" id="popup_greeting_display">Congratulations</div>
        <div data-v-e05c7c66="" class="WinningTip__C-body-l2">Lottery results
            <div data-v-e05c7c66="" class="line1" id="lottery_results_box">
                <div data-v-e05c7c66="">
                    <div data-v-e05c7c66="" class="title sum">SUM</div>
                    <div data-v-e05c7c66="" class="num"></div>
                </div>
            </div>
        </div>
        <div data-v-e05c7c66="" class="WinningTip__C-body-l3">
            <div data-v-e05c7c66="" class="isLose" id="popup_loss_symbol">Lose</div>
            <div data-v-e05c7c66="" class="head" id="popup_win_symbol">Bonus</div>
            <div data-v-e05c7c66="" class="bonus" id="popup_win_rupees_display"></div>
            <div data-v-e05c7c66="" class="gameDetail" id="popup_game_details">Period: </div>
        </div>
        <div data-v-e05c7c66="" class="WinningTip__C-body-l4">
            <div data-v-e05c7c66="" class="acitveBtn"></div> 3 seconds auto close
        </div>
        <div data-v-e05c7c66="" class="closeBtn"></div>
        <i data-v-e05c7c66="" class="van-badge__wrapper van-icon van-icon-arrow arrowBtn"
            style="color: rgb(255, 255, 255); font-size: 30px; display: none;"></i>
    </div>
</div>
<script>
    $(".closeBtn").click(function () {
        $(".WinningTip__C").hide()
    })
</script>