<div data-v-17d56002="" data-v-4f526022="" class="GameList__C">
    <div data-v-17d56002="" class="GameList__C-item" data-game-type="1">
        <div data-v-17d56002="">5D<br>1Min</div>
    </div>
    <div data-v-17d56002="" class="GameList__C-item" data-game-type="3">
        <div data-v-17d56002="">5D<br>3Min</div>
    </div>
    <div data-v-17d56002="" class="GameList__C-item" data-game-type="5">
        <div data-v-17d56002="">5D<br>5Min</div>
    </div>
    <div data-v-17d56002="" class="GameList__C-item" data-game-type="10">
        <div data-v-17d56002="">5D<br>10Min</div>
    </div>
</div>