<div data-v-7dd1adab="" data-v-4f526022="" class="Wallet__C">
    <div data-v-7dd1adab="" class="Wallet__C-balance">
        <div data-v-7dd1adab="" class="Wallet__C-balance-l1 reload_money">
            <div data-v-7dd1adab="" id="balance_amount">₹0.12</div>
        </div>
        <div data-v-7dd1adab="" class="Wallet__C-balance-l2">
            <svg data-v-7dd1adab="" class="svg-icon icon-lottyWallet">
                <use xlink:href="#icon-lottyWallet"></use>
            </svg>
            <div data-v-7dd1adab="">Wallet balance</div>
        </div>
        <div data-v-7dd1adab="" class="Wallet__C-balance-l3">
            <div data-v-7dd1adab="">Withdraw</div>
            <div data-v-7dd1adab="">Deposit</div>
        </div>
    </div>
</div>