<div data-v-75b35bf5="" class="K3TL__C">
    <div data-v-75b35bf5="" class="K3TL__C-l1">
        <div data-v-75b35bf5="" class="left">
            <div data-v-75b35bf5="">Period</div>
            <div data-v-75b35bf5="" class="K3TL__C-rule">
                <svg data-v-75b35bf5="" xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32"
                    fill="none">
                    <path data-v-75b35bf5=""
                        d="M9.0484 25.8284L9.04089 25.8359L9.03366 25.8437C8.47797 26.4402 7.97942 26.8014 7.56631 26.9797C7.15908 27.1556 6.87147 27.141 6.67169 27.055C6.46753 26.967 6.24252 26.7559 6.06263 26.3149C5.88195 25.8718 5.76602 25.2377 5.76602 24.3993V9.38602C5.76602 6.69019 6.09509 5.23943 6.86083 4.42092C7.61326 3.61665 8.94055 3.26602 11.4593 3.26602H21.5393C24.0584 3.26602 25.3852 3.61676 26.1358 4.42054C26.8997 5.23844 27.226 6.68864 27.2193 9.38453V9.38602V24.386C27.2193 25.2248 27.1041 25.8592 26.9242 26.3024C26.7451 26.7438 26.5211 26.9543 26.3182 27.0418C26.1198 27.1275 25.8328 27.1424 25.4244 26.9663C25.0105 26.7878 24.5102 26.4264 23.9512 25.8299C23.2918 25.1224 22.4328 24.7733 21.5701 24.8202C20.7074 24.8672 19.8916 25.3075 19.3127 26.0793L19.3123 26.0799L17.9676 27.8772C17.9673 27.8776 17.967 27.878 17.9667 27.8785C17.5231 28.4638 16.9844 28.7094 16.4927 28.7094C16.001 28.7094 15.4623 28.4638 15.0187 27.8785C15.0184 27.878 15.0181 27.8776 15.0177 27.8772L13.6733 26.0802C13.6732 26.0801 13.6732 26.08 13.6731 26.0799C12.5033 24.515 10.4028 24.3993 9.05577 25.8211L9.0484 25.8284ZM8.93935 14.666C8.93935 15.7307 9.80798 16.5993 10.8727 16.5993C11.9374 16.5993 12.806 15.7307 12.806 14.666C12.806 13.6013 11.9374 12.7327 10.8727 12.7327C9.80798 12.7327 8.93935 13.6013 8.93935 14.666ZM8.93935 9.33268C8.93935 10.3974 9.80798 11.266 10.8727 11.266C11.9374 11.266 12.806 10.3974 12.806 9.33268C12.806 8.26798 11.9374 7.39935 10.8727 7.39935C9.80798 7.39935 8.93935 8.26798 8.93935 9.33268ZM14.806 16.266H22.1393C23.0174 16.266 23.7393 15.5441 23.7393 14.666C23.7393 13.788 23.0174 13.066 22.1393 13.066H14.806C13.928 13.066 13.206 13.788 13.206 14.666C13.206 15.5441 13.928 16.266 14.806 16.266ZM14.806 10.9327H22.1393C23.0174 10.9327 23.7393 10.2107 23.7393 9.33268C23.7393 8.45465 23.0174 7.73268 22.1393 7.73268H14.806C13.928 7.73268 13.206 8.45465 13.206 9.33268C13.206 10.2107 13.928 10.9327 14.806 10.9327Z"
                        stroke="currentColor" stroke-width="1.2"></path>
                </svg>
                How to play
            </div>
        </div>
        <div data-v-75b35bf5="">Time remaining</div>
    </div>
    <div data-v-75b35bf5="" class="K3TL__C-l2">
        <div data-v-75b35bf5="" id="period">20240824090890</div>
        <div data-v-75b35bf5="" class="K3TL__C-time">
            <div data-v-75b35bf5="">0</div>
            <div data-v-75b35bf5="">0</div>
            <div data-v-75b35bf5="" notime="">:</div>
            <div data-v-75b35bf5="">0</div>
            <div data-v-75b35bf5="">7</div>
        </div>
    </div>
    <div data-v-75b35bf5="" class="K3TL__C-l3">
        <div data-v-75b35bf5="" class="box">
            <div data-v-75b35bf5="" class="num1"></div>
            <div data-v-75b35bf5="" class="num3"></div>
            <div data-v-75b35bf5="" class="num5"></div>
        </div>
    </div>
</div>