<div data-v-72f81e71="" data-v-d024c659="" class="RecordNav__C">
    <div data-v-72f81e71="" class="active" id="game_history_tab_button">Game history</div>
    <div data-v-72f81e71="" class="" id="trend_tab_button">Chart</div>
    <div data-v-72f81e71="" class="" id="my_bets_tab_button">My history</div>
</div>

<div data-v-4e09079f="" data-v-d024c659="" class="GameRecord__C">
    <div data-v-4e09079f="" class="GameRecord__C-head">
        <div data-v-4e09079f="" class="van-row">
            <div data-v-4e09079f="" class="van-col van-col--10">Period
            </div>
            <div data-v-4e09079f="" class="van-col van-col--4">Sum</div>
            <div data-v-4e09079f="" class="van-col van-col--10">Results
            </div>
        </div>
    </div>
    <div data-v-4e09079f="" class="GameRecord__C-body">

    </div>
    <div data-v-4e09079f="" class="GameRecord__C-foot">
        <div data-v-4e09079f="" class="GameRecord__C-foot-previous disabled">
            <i data-v-4e09079f="" class="van-badge__wrapper van-icon van-icon-arrow-left GameRecord__C-icon"
                style="font-size: 20px"></i>
        </div>
        <div data-v-4e09079f="" class="GameRecord__C-foot-page">1/1673
        </div>
        <div data-v-4e09079f="" class="GameRecord__C-foot-next">
            <i data-v-4e09079f="" class="van-badge__wrapper van-icon van-icon-arrow GameRecord__C-icon"
                style="font-size: 20px"></i>
        </div>
    </div>
</div>

<div data-v-4159c83a="" data-v-d024c659="" class="Trend__C" style="display: none;">
    <div data-v-4159c83a="" class="Trend__C-head">
        <div data-v-4159c83a="" class="van-row">
            <div data-v-4159c83a="" class="van-col van-col--8">Period</div>
            <div data-v-4159c83a="" class="van-col van-col--6">Results</div>
            <div data-v-4159c83a="" class="van-col van-col--10">Number</div>
        </div>
    </div>
    <div data-v-4159c83a="" class="Trend__C-body">
        <div data-v-4159c83a="" class="van-row">
            <div data-v-4159c83a="" class="van-col van-col--8">20240824091223</div>
            <div data-v-4159c83a="" class="van-col van-col--6">
                <div data-v-4159c83a="" class="Trend__C-body-premium">
                    <div data-v-4159c83a="" class="n4"></div>
                    <div data-v-4159c83a="" class="n3"></div>
                    <div data-v-4159c83a="" class="n3"></div>
                </div>
            </div>
            <div data-v-4159c83a="" class="van-col van-col--10">
                <div data-v-4159c83a="" class="Trend__C-body-gameText"><span data-v-4159c83a="">2 same numbers</span>
                </div>
            </div>
        </div>
    </div>
    <div data-v-4159c83a="" class="Trend__C-foot">
        <div data-v-4159c83a="" class="Trend__C-foot-previous disabled"><i data-v-4159c83a=""
                class="van-badge__wrapper van-icon van-icon-arrow-left Trend__C-icon" style="font-size: 20px;"></i>
        </div>
        <div data-v-4159c83a="" class="Trend__C-foot-page">1/1707</div>
        <div data-v-4159c83a="" class="Trend__C-foot-next"><i data-v-4159c83a=""
                class="van-badge__wrapper van-icon van-icon-arrow Trend__C-icon" style="font-size: 20px;"></i></div>
    </div>
</div>

<div data-v-cffd8c9f="" data-v-d024c659="" class="MyGameRecord__C" style="display: none;">
    <div data-v-cffd8c9f="" class="MyGameRecord__C-head">
        <div data-v-cffd8c9f="" class="MyGameRecord__C-head-moreB">Detail <svg data-v-cffd8c9f=""
                class="svg-icon icon-rightCircle">
                <use xlink:href="#icon-rightCircle"></use>
            </svg></div>
    </div>
    <div data-v-cffd8c9f="" class="MyGameRecord__C-body">
        <div data-v-cffd8c9f="" class="MyGameRecord__C-body-empty">
            <div data-v-f84b843f="" data-v-cffd8c9f="" class="empty__container"><svg data-v-f84b843f=""
                    class="svg-icon icon-empty">
                    <use xlink:href="#icon-empty"></use>
                </svg>
                <p data-v-f84b843f="">No data</p>
            </div>
        </div>
    </div><!--v-if-->

    <div data-v-4159c83a="" class="MyGameRecord__C-foot" style="display: none;">
        <div data-v-4159c83a="" class="MyGameRecord__C-foot-previous disabled"><i data-v-4159c83a=""
                class="van-badge__wrapper van-icon van-icon-arrow-left MyGameRecord__C-icon"
                style="font-size: 20px;"></i>
        </div>
        <div data-v-4159c83a="" class="MyGameRecord__C-foot-page">1/1707</div>
        <div data-v-4159c83a="" class="MyGameRecord__C-foot-next"><i data-v-4159c83a=""
                class="van-badge__wrapper van-icon van-icon-arrow MyGameRecord__C-icon" style="font-size: 20px;"></i>
        </div>
    </div>
</div>