<div data-v-12a80a3e="" data-v-d024c659="" class="navbar main">
    <div data-v-12a80a3e="" class="navbar-fixed">
        <div data-v-12a80a3e="" class="navbar__content">
            <div data-v-12a80a3e="" class="navbar__content-left" onclick="history.back()">
                <i data-v-12a80a3e="" class="van-badge__wrapper van-icon van-icon-arrow-left"><!----><!----><!----></i>
            </div>
            <div data-v-12a80a3e="" class="navbar__content-center">
                <div data-v-12a80a3e="" class="headLogo"
                    style="background-image: url('/h5setting_202308141709544lm1.png');">
                </div>
                <div data-v-12a80a3e="" class="navbar__content-title"></div>
            </div>
            <div data-v-12a80a3e="" class="navbar__content-right">
                <div data-v-d024c659="" class="K3__C-head-more">
                    <div data-v-d024c659=""></div>
                    <div data-v-d024c659="" class="" id="audio_button"></div>
                </div>
            </div>
        </div>
    </div>
</div>