<div data-v-2d418cc5="" data-v-d024c659="" class="WinningTip__C" style="display: none;" id="popup_modal">
    <div data-v-2d418cc5="" class="WinningTip__C-body" id="popup_background">
        <div data-v-2d418cc5="" class="WinningTip__C-body-l1" id="popup_greeting_display">Congratulations</div>
        <div data-v-2d418cc5="" class="WinningTip__C-body-l2" id="lottery_results_box">
            <div data-v-2d418cc5="" class="line1">
                <div data-v-2d418cc5="" class="n5"></div>
                <div data-v-2d418cc5="" class="n4"></div>
                <div data-v-2d418cc5="" class="n5"></div>
            </div>
            <div data-v-2d418cc5="" class="line2">
                <div data-v-2d418cc5="">545</div>
                <div data-v-2d418cc5="" class="yuan">Big</div>
                <div data-v-2d418cc5="">Even</div>
            </div>
        </div>
        <div data-v-2d418cc5="" class="WinningTip__C-body-l3">
            <div data-v-2d418cc5="" class="isLose" id="popup_loss_symbol">Lose</div>
            <div data-v-2d418cc5="" class="head" id="popup_win_symbol">Bonus</div>
            <div data-v-2d418cc5="" class="bonus" id="popup_win_rupees_display"></div>
            <div data-v-2d418cc5="" class="gameDetail" id="popup_game_details">Period: </div>
        </div>
        <div data-v-2d418cc5="" class="WinningTip__C-body-l4">
            <div data-v-2d418cc5="" class="acitveBtn"></div> 3 seconds auto close
        </div>
        <div data-v-2d418cc5="" class="closeBtn"></div><i data-v-2d418cc5=""
            class="van-badge__wrapper van-icon van-icon-arrow arrowBtn"
            style="color: rgb(255, 255, 255); font-size: 30px; display: none;"></i>
    </div>
</div>

<script>
    $(".closeBtn").click(function () {
        $(".WinningTip__C").hide()
    })
</script>