<div data-v-17d56002="" data-v-d024c659="" class="GameList__C">
    <div data-v-17d56002="" class="GameList__C-item active" data-game-type="1">
        <div data-v-17d56002="">K3 Lotre <br />1Min</div>
    </div>
    <div data-v-17d56002="" class="GameList__C-item" data-game-type="3">
        <div data-v-17d56002="">K3 Lotre<br />3Min</div>
    </div>
    <div data-v-17d56002="" class="GameList__C-item" data-game-type="5">
        <div data-v-17d56002="">K3 Lotre<br />5Min</div>
    </div>
    <div data-v-17d56002="" class="GameList__C-item" data-game-type="10">
        <div data-v-17d56002="">K3 Lotre<br />10Min</div>
    </div>
</div>