<div data-v-8bb41fd5="" class="MyGameRecordList__C-item">
   <div data-v-8bb41fd5="" class="MyGameRecordList__C-item-l MyGameRecordList__C-item-l-E">Even</div>
   <div data-v-8bb41fd5="" class="MyGameRecordList__C-item-m">
      <div data-v-8bb41fd5="" class="MyGameRecordList__C-item-m-top">20240830050740</div>
      <div data-v-8bb41fd5="" class="MyGameRecordList__C-item-m-bottom">2024-08-30 12:19:11</div>
   </div>
   <div data-v-8bb41fd5="" class="MyGameRecordList__C-item-r success">
      <div data-v-8bb41fd5="" class="success">Succeed</div><span data-v-8bb41fd5="">+₹1.94</span>
   </div>
</div>